@import "./nord.css";

body {
    max-width: 700px;
    margin: 0 auto;
    background-color: var(--nord0);
    color: var(--nord3);
    padding: 0 12px;
}

li {
    color: var(--nord12);
}

a {
    color: var(--nord10);
}

a:visited {
    color: var(--nord9);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.2em;
    line-height: 1.8;
}

#content {
    flex-grow: 1;
}

.title {
    margin: 1em auto 2em;
}

.verse {
    font-size: 1.2em;
    color: var(--nord11);
}

.timestamp {
    color: var(--nord2);
    font-size: .8em;
}

.validation {
    visibility: hidden;
}
