@import "./lib/nord.css";

#content > header,
#content > .outline-2 {
    max-width: 700px;
    margin: auto;
}

#content {
    background-color: var(--nord0);
    padding: 24px;
}

#preamble .nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-inline-start: 0px;
}

#preamble,
header .title,
h1, h2, h3, h4, h5, h6, legend {
    font-family: inherit;
}

#preamble li {
    margin-left: 0;
}

blockquote {
    border-left: none;
    background-color: var(--nord0);
}

body {
    min-width: 320px;
    background-color: var(--nord0);
    font-family: 'Marck Script', CloudKaiXingGBK, 'Xingkai SC', STHeiti, serif;
    font-size: 1.1em;
    line-height: 1.8;
    color: #bbb;
}

li {
    color: var(--nord12);
}

a {
    color: var(--nord10);
}

a:visited {
    color: var(--nord9);
}

#content {
    max-width: 2000px;
}

.verse {
    color: var(--nord11);
    background-color: inherit;
}

.timestamp {
    color: var(--nord2);
}
ul.nav li.active a {
    background-color: var(--nord2);
}
ul.nav li.active ul li a {
    background-color: var(--nord1);
}
ul.nav li.active ul li.active a {
    background-color: var(--nord0);
}
ul.nav > li.active > a {
    color: var(--nord9) !important;
}
ul.nav li.active ul li.active a,
ul.nav li.active ul li.active ul li.active a {
    color: var(--nord8) !important;
}
ul.nav li.active a {
    color: var(--nord7) !important;
}
ul.nav li.active > a {
    border-bottom: none !important;
}

#copyright, #postamble {
    color: inherit;
    font-family: inherit;
}

.home {
    font-size: 1.1em;
}

.home #toggle-sidebar h2 {
    display: none;
}

.home #content {
    margin: auto;
}

.home ul {
    list-style: none;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.8;
    padding: 0px;
}

.home li {
    margin-left: 0;
}

.home #copyright, .home #postamble {
    width: 100%;
    background: inherit;
    border-top: none;
    font-family: inherit;
    text-align: center;
}

table td, table th,
table tr:nth-child(2n) td,
table tr:nth-child(2n-1) td,
code,
.codeblock,
pre.src,
#content .literal-block {
    background: inherit;
}

code {
    border: none;
}

pre {
    box-shadow: none;
}

#toggle-sidebar {
    padding: 0;
}

@media screen and (max-width: 768px) {
    #preamble {
        padding-top: 50px;
    }
}
