@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Bookerly, Weibei SC, serif;
  background: #f6f1d9;
}

.tags {
  display: block;
  font-size: 0.5em;
  margin-top: 1em;
}

.no-highlight-tap {
  -webkit-tap-highlight-color: transparent;
}

/* overrides for the default theme */
.prose {
  font-size: 1.1rem;
}

.prose .verse {
  font-style: italic;
}

.prose :where(blockquote strong):not(:where([class~='not-prose'] *)) {
  color: var(--tw-prose-bold);
}

code,
kbd,
samp,
pre {
  font-family: Latin Modern Mono, Weibei SC, monospace;
}
/* overrides for the default theme */

.block-comments {
  opacity: 0.7;
}

p:has(+ .block-comments) {
  margin-bottom: 0;
}

.block-comments p:first-child {
  margin-top: 0;
}
