@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Bookerly, Weibei SC, serif;
}

.floating-menu {
  -webkit-tap-highlight-color: transparent;
}

/* overrides for the default theme */
.prose {
  font-size: 1.1rem;
}

.prose :where(blockquote strong):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-bold);
}

code,
kbd,
samp,
pre {
  font-family: Latin Modern Mono, Weibei SC, monospace;
}
/* overrides for the default theme */

/* Type fonts */
@font-face {
  font-family: Weibei SC;
  src: url(/static/fonts/WeibeiSC-Bold.otf);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Bookerly;
  src: url(/static/fonts/Bookerly.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Bookerly;
  src: url('/static/fonts/Bookerly Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Bookerly;
  src: url('/static/fonts/Bookerly Italic.ttf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Bookerly;
  src: url('/static/fonts/Bookerly Bold Italic.ttf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Latin Modern Mono;
  src: url(/static/fonts/lmmono10-regular.otf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Latin Modern Mono;
  src: url(/static/fonts/lmmono10-italic.otf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
