html {
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,SimSun,sans-serif;
  font-size: 1.1em;
}

body {
  padding: 0 1.5em;
  color: #333;
}

img {
  display: block;
  max-width: 720px;
  width: 100%;
  cursor: pointer;
}

h1.title {
  margin: 1em auto;
  text-align: center;
}

#content,
#postamble {
  max-width: 720px;
  margin: 1em auto;
}

#postamble .links {
  display: flex;
  justify-content: space-between;
}

ul, ol,
dl,
p {
  line-height: 2;
  text-align: justify;
}

dl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

dd {
  margin-left: 1.5em;
  grid-column: 2 / 4;
}

.verse {
  text-align: center;
}

blockquote {
  margin: 1em;
  font-style: italic;
}
